
.left-sidebar {
  @extend %flex-column;
  min-width: 256px;
  padding: $size-md;
  border-radius: 10px;
  background-color: $bright-gray;
}

.sidebar-title {
  display: flex;
  align-items: center;
  gap: $size-xs;
  margin-bottom: $size-sm;
  border-bottom: 1px solid $border-color;
}

.sidebar-title h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

.sidebar-title image {
  width: 42px;
}

.nav-controls-label {
  margin: $size-sm 0;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $secondary-font-color;
}

.nav-controls, .options {
  @extend %flex-column;
  gap: $size-md;
  color: $secondary-font-color;

  > li, li > a {
    @extend %flex-row;
    gap: $size-sm;
    padding: $size-xxs;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
  }

  > li.active {
    background-color: $dark-blue;
    color: $tretiery-font-color;
    border-radius: 8px;
  }
}


.options {
  margin-top: auto;
}