.notifications-bar {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $size-md;
  border-bottom: 1px solid $border-color;
}

.user-controls {
  @extend %flex-row;
  align-items: center;
  gap: $size-sm;
}

.buttons {
  @extend %flex-row;
  gap: $size-sm;

  > button {
    padding: $size-sm;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: $bright-gray;
    cursor: pointer;
  }
}

.user {
  @extend %flex-row;
  gap: $size-xs;
  align-items: center;
  font-size: 0.87rem;

  > p {
    font-weight: 500;
  }
}
