.transaction-item, .transaction-user-container, .transaction-details {
  @extend %flex-row;
}

.transaction-user-container {
  gap: $size-sm;

  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.transaction-user-info {
  @extend %flex-column;
  align-items: flex-start;
  gap: $size-xs;
}

.transaction-user-name {
  font-weight: 500;
}

.transaction-date {
  font-size: 0.75rem;
  font-weight: 400;
}

.transaction-item {
  justify-content: space-between;
  width: 100%;
  margin-bottom: $size-sm;
  padding: 12px;
  border-bottom: 1px solid $border-color;
}

.transaction-details {
  gap: $size-xl;
  align-items: center;
}

.transaction-amount {
  max-width: 50px;
  min-width: 50px;
  text-align: center;
}

.transaction-settings {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.action-menu {
  position: absolute;
  left: -60px;
  padding: $size-xs;
  border-radius: 4px;
  background-color: $bright-gray;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

.transaction-status-completed,
.transaction-status-pending {
  padding: $size-xs;
  border-radius: 10px;
}

.transaction-status-completed {
  background-color: $light-green;
}

.transaction-status-pending {
  background-color: $light-blue;

}
