.finance-summary {
  @extend %flex-row;
  gap: $size-md;
}

.card {
  @extend %flex-column;
  flex: 1;
  padding: $size-md;
  border-radius: $size-xs;
  color: $tretiery-font-color;
  background-color: $dark-blue;
  max-width: 700px;
}

.card-title {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
}

.card-title h5 {
  font-size: 1.125rem;
}

.card-title button {
  color: $tretiery-font-color;
  border: none;
  background: transparent;
  cursor: pointer;
}

.carousel-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container .slick-slider {
  width: 400px;
}

.carousel-container .slick-slider img {
  width: 400px;
}

.financial-metrics {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: $size-sm;
}

.metric-card {
  @extend %flex-column;
  gap: $size-sm;
  padding: $size-xl;
  border-radius: $size-xs;

  $colors: $light-orange, $light-green, $light-blue, $light-gray;

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      background-color: list.nth($colors, $i);
    }
  }
}

.metric-title {
  @extend %flex-row;
  justify-content: space-between;
}

.metric-title h5 {
  font-size: 1rem;
}

.amount {
  font-size: 2rem;
  font-weight: 500;
}

.amount-info {
  font-size: 0.875rem;
  color: $secondary-font-color;
}