.transactions-table {
  @extend %flex-column;
  padding: $size-sm;
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow-x: hidden;
}
.transactions-header {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  padding: $size-md;
  border-bottom: 2px solid $border-color;
}

.transaction-filters {
  @extend %flex-row;
  gap: $size-sm;
}

.transaction-filters li button {
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  padding: $size-xs;
  border-radius: 8px;
  transition: 0.2s linear;

  &.active {
    border: 2px solid $border-color;
  }

  &:hover {
    border-color: $dark-gray;
  }
}

.transaction-items:has(p.no-data) {
  @extend %flex-row;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}
