.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.25);
}

.modal {
  @extend %flex-column;
  width: 500px;
  height: 300px;
  padding: $size-md;
  border: 1px solid $border-color;
  background-color: $medium-gray;
  border-radius: 4px;
  font-family: Roboto;
  outline: none;
  background-color: $white;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.modal .form-header {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.modal .contact-form {
  @extend %flex-column;
  align-items: center;
  gap: $size-sm;
  margin: auto;

  input {
    padding: $size-xs;
    border-radius: 4px;
    border: 1px solid $border-color;
    outline: none;
  }

  button {
    padding: $size-xs;
    width: 70px;
    color: $dark-blue;
    background-color: transparent;
    border: 2px solid $border-color;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;

    &:hover {
      border-color: $dark-gray;
    }

    &:disabled {
      opacity: 0.5;
      color: $dark-blue;
      border: 2px solid $border-color;
      cursor: not-allowed;
    }

  }
}

